<div class="container">
  <div class="filters">
    <small><i class="fa-solid fa-filter"></i> Search by</small>
  </div>
  <% @bookmarks.each do |bookmark| %>

    <div class="mb-2 bookmark-card">
      <h6>
        <i class="fa-regular fa-message"></i>
        <%= bookmark.kinder_garten.name %>
      </h6>
        <p><%= bookmark.kinder_garten.address %></p>

      <div class="bookmark-show d-none">
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to DELETE you bookmark?"} do %>
          <button>Delete</button>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
