<div class="container">
  <h1>Hello <%= @profile.first_name %></h1>
  <div>
    <%# <%= cl_image_tag @profile.photo.key,width: 150, height: 150, crop: :thumb, gravity: :face, class: 'avatar-profile' %>
  </div>
</div>
