@import "components/bookmark_card";
@import "components/bookmark_search";
@import "components/comment_bookmark";

.bookmark-ctn {
  padding-top: 5rem;
}

.bm-search-container {
  z-index: 99;
  position: fixed;
  bottom: 15px;
  right: 50px;
}

.bm-search-container .fa-magnifying-glass {
  padding: 15px;
  font-size: 24px;
  background-color:#FFE23F;
  border: 2px solid #01001A;
  color:#01001A;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.25s ease-in-out;
}

.bm-search-container .fa-magnifying-glass:hover {
  background-color:#fde768;
}
