.add-to-list-button {
  background-color: #FFE23F;
  border: 1px solid #FFE23F !important;
  color: #01001A !important;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border-radius: 100px;
  width: 86%;
  height: 42px;
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kita-image {
  height: 250px;
  width: 100vw;
  object-fit: cover;
  margin-top: 58px;
  margin-bottom: 25px;
}

.descriptions {
  line-height: 100%;
}

.line-height {
  margin-top: -0.5rem;
}

.empty-div {
  height: 100px;
  margin-left: 0px;
}

.white-div {
  background: #FFFEFB;
  position: fixed;
  bottom: 0px;
  width: 102%;
  height: 115px;
  margin-right: 0px;
  padding-top: 10px;
}

.info-login {
  width: 85.6%;
  margin: 0 !important;
  text-align: center;
}

.kita-show-h1 {
  font-size: 20px;
}
