.add-to-list-button {
  background-color: #FFE23F;
  border: 1px solid #FFE23F !important;
  color: #01001A !important;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 100px;
  width: 300px;
  height: 42px;
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kita-image {
  height: 300px;
  width: 100vw;
  object-fit: cover;
  margin-top: 58px;
  margin-bottom: 25px;
}

.descriptions {
  line-height: 50%;
}

.empty-div {
  height: 100px;
}

.white-div {
  background: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 115px;
}

.info-login {
  width: 300px;
}
