.template-icons .fa-trash {
  font-size: 16px;
  color:#4743FF;
  background-color: #DAD9FF;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.25s ease-in;
  margin-left: 20px;
  margin-top: 5px;
}


@media only screen and (min-width: 768px) {
  .temp-form {
    align-items: center;
  }
}
