<%= link_to kinder_garten_path(kinder_garten) do %>
  <div class="card-preview">
    <img src="<%= kinder_garten.image_url %>" />
    <div class="card-preview-infos">
      <h2><%= kinder_garten.name %></h2>
      <p><%= kinder_garten.address %></p>
    </div>
  </div>
<% end %>
