<div class="container padding-top" data-controller="flatpickr">
  <div class="d-flex align-items-center flex-column">
    <div class="col-sm-12 col-lg-6">
      <h1 class="text-center">Your new reminder</h1>
      <%= render 'form', reminder: @reminder, bookmark: @bookmark %>
    </div>
  </div>
</div>
