<div class="container pt-5" data-controller="flatpickr">
  <div class="d-flex align-items-center flex-column">
    <div class="col-sm-12 col-lg-6">
      <h1 class="text-center pt-5">New reminder</h1>
      <p class="text-center"><%= @bookmark.kinder_garten.name %></p>
      <%= render 'form', reminder: @reminder, bookmark: @bookmark %>
    </div>
  </div>
</div>
