<div class="container">
  <h1>Your templates</h1>
  <br>
  <% @templates.each do |template| %>
    <h6><%= template.title %></h6>
    <p><%= truncate(template.content) %></p>
    <div class="links mt-3">
      <a href="mailto:contact@my-kita.xyz?subject=<% template.title %>&body=<% template.content %>" target=“_blank” rel=“noopener” class="btn btn-secondary">Send</a>
      <%= link_to template_path(template), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to DELETE you template?"} do %>
        <button>Delete</button>
      <% end %>
    </div>
  <% end %>

  <%= link_to new_template_path do%>
    <button class="btn btn-secondary mt-5">New Template</button>
  <% end %>
</div>
