<div class="container">
  <h1>Your templates</h1>
  <br>
  <% @templates.each do |template| %>
    <h2><%= template.title %></h2>
    <p><%= template.content %></p>
    <span class="">
      <%= link_to template_path(template), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to DELETE you template?"} do %>
        <button>Delete</button>
      <% end %>
    </span>
  <% end %>
</div>
