<div class="container padding-top">
  <div class="d-flex align-items-center flex-column">
    <div class="col-sm-12 col-lg-6 pt-5">
      <h1 class="text-center pt-5">Create new email</h1>
        <%= simple_form_for(@template) do |f| %>
          <%= f.input :title, label: "Subject" %>
          <%= f.input :content %>
          <%= f.submit class: 'button secondary-button'%>
        <% end %>
    </div>
  </div>
</div>
