<% if notice %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
 <div class="alert alert-primary" role="alert">
    <%= alert %>
  </div>
<% end %>
