<style>

  *{
    margin: 0px;
    padding: 0px;
  }

  .homepage {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .homepage h1 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 100px;
  left: 40px;
  }

  .homepage h2 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 220px;
  left: 40px;
  }

  </style>
<div class="homepage" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(/images/background.jpg)">
  <h1>500</h1>
  <h2>Sorry, you ran into a problem little friend!</h2>
</div>
