.delete,
.arrows {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.delete:hover,
.arrows:hover {
  opacity: 1;
}

.bookmark-card {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #F5F1E9;
  padding: 5px 15px 3px 15px;
  transition: box-shadow 0.2s ease-in;
  margin-bottom: 12px;
}

.bookmark-card h6 {
  font-size: 0.9rem;
}

.bookmark-card:hover {
  box-shadow: none;
}

.arrows {
  font-size: 16px;
  margin-top: 0;
  position: relative;
  top: -12px;
}

.infos {
  position: relative;
  top: -10px;
}

.image-icon {
  width: 35px;
  border-radius: 10px;
  cursor: pointer;
}


.bm-link {
  text-decoration: underline;
}

.bookmark-card h6 {
  font-weight: 700px;
  margin-bottom: 5px;
}

.bookmark-card p {
  opacity: 0.7;
  font-size: 14px;
}

// .bookmark-card .fa-message {
// color: #fff;
// background-color: #4743FF;
// border-radius: 50%;
// padding: 8px;
// }

.bookmark-show {
  background-color: #FEFEFE;
  border: 1px solid #dedddd;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  position: relative;
  top: -10px;
}

.bookmark-show h6 {
  font-size: 0.9rem;
}

.link-warning {
  text-decoration: underline;
}

.link-warning:hover {
  text-decoration: underline;
}
