.btn {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border-radius: 100px;
  height: 42px;
  transition: background-color 0.25s ease-in-out;
}

.btn-primary {
  background-color: #FFE23F;
  border: 1px solid #FFE23F !important;
  color: #01001A !important;
}

.btn-primary:hover {
  background-color:#fde768;
  border: 1px solid #fbda1f !important;
}

.btn-secondary {
  background-color: #F5F1E9;
  border: 1px solid #F5F1E9 !important;
  color: #01001A !important;
}

.btn-secondary:hover {
  background-color: #eae6dd;
  border: 1px solid #eae6dd !important;
}

.btn-info {
  background-color: #04022d ;
  border: 1px solid #04022d !important;
  color: #fff !important;
}

.btn-info:hover {
  background-color: #090646 ;
  border: 1px solid #090646 !important;
}

.back-link {
  color: #b2b0aa;
  text-decoration: underline;
  margin-bottom: 20px;
  font-size: 14px;
}

.back-link:hover {
  color: #a19f99;
  text-decoration: underline;
}
