.index-card {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
}

.index-card .card-img-top {
  border-radius: 10px 10px 0 0;
  height: 8.5rem;
  object-fit: cover;
}

.index-card p {
  opacity: .7;
}

.index-card h5 {
  font-size: 1rem;
}
