.bookmark_comment label {
  display: none;
}

.input-group button {
  position: absolute;
  right: 5px;
  top: 15px;
  background: transparent;
  background-color: none !important;
  border: none;
}

.fa-pen-to-square {
  font-size: 20px;
  color:#01001A;
}

.fa-circle-check {
  font-size: 24px;
  color:#01001A;
}
