.bookmark_comment label {
  display: none;
}

.fa-pen-to-square {
  font-size: 24px;
  color:#01001A;
  transition: all 0.25s ease-in;
}

.fa-pen-to-square:hover {
  font-size: 26px;
}

.input-group {
  width: 100%;
}
