.bookmark_comment label {
  display: none;
}

.fa-pen-to-square {
  font-size: 24px;
  transition: all 0.25s ease-in;
  color: #04022d;
}

.fa-pen-to-square:hover {
  font-size: 25px;
}

.edit_bookmark textarea {
  width: 90%;
  border-radius: 10px;
}
