.padding-top {
  padding-top: 8rem;
  width: 100%;
}

.form-control {
  border-radius: 100px;
}

.container {
  height: 100%;
}

.card-login-signup-form {
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card.forgot-form {
  font-size: 40px;
}

.btn-width {
  width: 100%;
  margin-bottom: 16px;
}
