.icon-status {
  font-size: 22px;
  color: white;
  background-color: #4743FF;
  margin: -8px 10px 0 5px;
  padding: 10px;
  border: solid 2px;
  border-radius: 50px;
}

// .dropdown-toggle {
//   // display: none;
// }

.div-icons {
  margin: 7px 2px 2px 7px;
}
