<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.profile.first_name %></h1>
    <p>
      You have one upcoming event: <strong><%= @reminder.title %></strong><br>
    </p>
    <p>
      Due date: <strong><%= @reminder.due_date %></strong><br>
    </p>
    <p>
      To see more details, just follow this link: <%= @url %>.
    </p>
    <p>
    All the best,
    </p>
    <p>
    My kita
    </p>
  </body>
</html>
